---
import BaseHead from "@/layouts/BaseHead.astro";
import Footer from "@/layouts/Footer.astro";
import Navbar from "@/layouts/Navbar.astro";

import "@/styles/global.css";

type Props = {
  title?: string;
  description?: string;
};
---

<!doctype html>
<html lang="zh-CN">
  <BaseHead {...Astro.props} />
  <body>
    <Navbar />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
