---
import { BaseLayout } from "@/layouts";
import type { MarkdownInstance } from "astro";

type Frontmatter = {
  title: string;
};
const posts = Object.values(
  import.meta.glob<MarkdownInstance<Frontmatter>>(["./**/*.{md,mdx}"], {
    eager: true,
  })
);
console.log(posts);
---

<BaseLayout>
  <main class="p-8">
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={post.url}>{post.frontmatter.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>
