---
import type { GetStaticPaths } from "astro";
import { render } from "astro:content";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const posts = await getCollection("posts", (post) => !post.data.isDraft);
  return posts.map((post) => ({
    params: { slug: post.data.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

// const { slug } = Astro.params;

const { post } = Astro.props;
const { Content } = await render(post);
---

<main class="content prose">
  <article>
    <h1>{post.data.title}</h1>
    <Content />
  </article>
</main>
