---
import { BaseLayout } from "@/layouts";
---

<BaseLayout>
  <nav class="container mx-auto flex items-center justify-between py-4">
    <ul class="flex flex-row gap-x-4">
      <li><a href="/">首页</a></li>
      <li><a href="/pricing-card">定价卡片</a></li>
      <li><a href="/markdown">markdown</a></li>
      <li><a href="/collection/load-file">集合-json</a></li>
      <li><a href="/collection/posts">集合-glob</a></li>
    </ul>
    <div class="text-red-500">首页</div>
  </nav>
</BaseLayout>
