---
import { Counter } from "../components/Counter";
import Heading from "../components/Hading.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio esse
      tempora dolor similique quibusdam! Vitae, expedita commodi! Id, ad.
      Voluptas cupiditate debitis omnis mollitia ipsa voluptate et dicta illo.
      Sed.
    </p>
    <p>
      Magnam modi, ipsum est expedita suscipit soluta tenetur quis saepe
      consequatur quaerat quas consectetur vel ut cumque molestiae, veniam,
      explicabo voluptates quisquam autem ab doloremque minus! In corrupti et
      omnis?
    </p>
    <p>
      Unde, inventore perferendis corporis harum neque est adipisci repellendus
      fuga accusantium asperiores nihil iure totam voluptatum quaerat
      consectetur libero veritatis tenetur at. Itaque voluptatibus et incidunt
      minus, dolorem aut perspiciatis.
    </p>
    <p>
      Dolores, amet tempora? Odio quidem corrupti accusantium nobis,
      exercitationem explicabo placeat ipsam eaque culpa esse, iusto deserunt
      magnam sit delectus assumenda autem. Ullam maiores illo temporibus nihil
      et explicabo officia.
    </p>
    <p>
      Minima repellat voluptatem velit eveniet quisquam, ipsa a vel, natus quasi
      asperiores, libero tenetur. A, ab quod dolor vel itaque dicta repellendus
      obcaecati maiores. Tempora voluptatem numquam corporis sunt culpa.
    </p>
    <p>
      Repellat fuga rem similique in esse ut optio repellendus tempora
      consequatur at, obcaecati quam enim aut rerum iusto reprehenderit ducimus
      necessitatibus illum deserunt unde sapiente officia temporibus nihil quas!
      Numquam?
    </p>
    <p>
      Quod consectetur dolorum at praesentium fugiat tempore rerum laboriosam?
      Quod quam sequi voluptatibus, odit laboriosam quas reprehenderit eum
      architecto cumque minima nostrum sunt? Blanditiis, soluta earum laudantium
      nisi praesentium voluptatem?
    </p>
    <p>
      Laboriosam non illum maxime corporis incidunt quam consequuntur dolore
      cupiditate neque, eveniet dicta excepturi unde, pariatur quia quas.
      Doloribus aliquid delectus nemo distinctio in veritatis quisquam. Eaque
      architecto maiores earum?
    </p>
    <p>
      Tempore suscipit nobis exercitationem soluta nisi a earum ad, magni
      similique sed praesentium natus voluptates laudantium perspiciatis
      expedita, adipisci reiciendis quisquam! Tenetur, fuga! Minima doloribus
      architecto nam, dicta quis culpa.
    </p>
    <p>
      Dolor soluta dolorem quibusdam iure praesentium, suscipit saepe optio
      repudiandae consequatur molestiae excepturi est accusantium quis dicta
      quia alias distinctio officia! Deserunt deleniti itaque iste sint
      consequatur! Voluptatem, iure iusto.
    </p>
    <p>
      Eos possimus maiores cupiditate cum asperiores vel beatae expedita, natus
      inventore harum, doloremque dolor quo rem aut autem sed repudiandae,
      veritatis corrupti ratione fuga culpa repellat hic. Qui, rerum blanditiis.
    </p>
    <p>
      Blanditiis esse quasi saepe, pariatur odit a nisi. Vel dolorem voluptates
      excepturi vitae quod, quidem dignissimos quos ab placeat nam! Nobis
      laborum laudantium aliquid totam saepe officiis est eius dolor!
    </p>
    <p>
      Delectus molestiae tempora qui aliquam vero. Officiis voluptatibus nisi
      aperiam pariatur necessitatibus iusto. Animi culpa nihil vero quod
      incidunt sit, aperiam ab nemo corrupti voluptate? Iure perspiciatis magni
      sequi asperiores.
    </p>
    <p>
      Cupiditate quis nisi, facere, nemo perspiciatis nihil, porro veritatis
      rerum ipsum vitae sequi obcaecati excepturi quasi adipisci nesciunt
      aspernatur mollitia incidunt repellendus quae! Beatae mollitia dolores
      eligendi dolor perspiciatis ducimus!
    </p>
    <p>
      Voluptate enim animi quis odio obcaecati impedit sed, vero possimus
      corporis? Ipsam porro quos similique dicta voluptates, perferendis
      doloribus vel blanditiis quaerat illum error saepe neque ducimus assumenda
      quidem harum.
    </p>
    <p>
      Nam quibusdam voluptatem libero hic eos nihil culpa eligendi eaque. Iure,
      mollitia? Laboriosam, voluptate a repellat ut illo recusandae eos nostrum,
      eligendi facere commodi explicabo voluptatum dolore veniam veritatis
      dolor?
    </p>
    <p>
      Soluta vel explicabo temporibus deleniti minima, quas fugit delectus
      sapiente amet cupiditate, nam dolor neque dicta voluptate tenetur ut quod,
      incidunt magnam sit quasi. Doloribus quo excepturi quasi totam. Nobis?
    </p>
    <p>
      Dignissimos incidunt eligendi praesentium est laudantium possimus
      repellendus perspiciatis tempore provident voluptas? Officiis aperiam
      eveniet vero nihil. Fugiat, sequi dolorem cum ea assumenda dignissimos
      debitis dolor dolore, suscipit, maxime expedita.
    </p>
    <p>
      Recusandae unde molestias, officia doloribus deleniti accusamus, eligendi
      quibusdam eaque beatae aliquid voluptate asperiores atque dolorum in
      doloremque ea mollitia deserunt dolorem inventore omnis quis illo velit,
      at est? Quidem!
    </p>
    <p>
      Enim, consequatur impedit. Nam cupiditate neque suscipit magnam sit
      perferendis esse obcaecati doloremque iure eligendi magni sint laboriosam
      aliquid aspernatur error repellat saepe, vero hic maxime! Laudantium ipsam
      hic laborum.
    </p>
    <p>
      Minima, aspernatur accusamus totam, repellendus, quasi facere aliquam
      voluptate ab veritatis sunt molestias aperiam sed suscipit perspiciatis
      asperiores? Nulla facilis aspernatur debitis aperiam sapiente ipsam non
      nisi distinctio nemo a.
    </p>
    <p>
      Fugit harum fugiat quis necessitatibus maxime eveniet voluptatibus quam
      commodi. Consequuntur, incidunt aperiam debitis cupiditate fuga voluptatum
      esse laborum voluptate perferendis ab veritatis harum unde sed cumque
      commodi autem sit.
    </p>
    <p>
      Nostrum nisi optio quod dolore modi fugiat voluptatum ipsum officiis aut
      voluptates amet suscipit ipsa, laboriosam nulla odit, excepturi temporibus
      voluptas mollitia impedit assumenda! Aliquam placeat officia laudantium
      possimus quasi!
    </p>
    <p>
      Placeat quasi provident eveniet temporibus ipsam, magnam cupiditate magni
      perferendis explicabo illo dolore tempore maiores, repellendus, fugiat
      aut? Ad veniam ut nulla alias ratione consequuntur libero eum delectus
      sint quasi.
    </p>
    <p>
      Officia dolore quisquam quasi quod, hic laborum ut maiores numquam minus
      dicta quae iste, distinctio suscipit amet deserunt dolorem unde delectus,
      beatae aliquam similique illum! Cumque soluta fuga vero odit!
    </p>
    <p>
      Laborum eius delectus, dolorem nihil nam sunt nisi maiores labore eaque ex
      nostrum. Voluptas quisquam eaque magni a esse recusandae velit id deserunt
      facere, maiores neque modi expedita nemo vel.
    </p>
    <p>
      Sint laudantium esse accusamus minima enim! Voluptatem doloribus illum
      nobis? Modi dolores explicabo rem facere consequuntur. Error consectetur
      soluta, minima expedita quidem assumenda. Incidunt laudantium at quas.
      Labore, praesentium commodi.
    </p>
    <p>
      Doloribus, excepturi? Omnis et, dolor facere aspernatur quod distinctio
      nobis voluptas quibusdam, ipsum, recusandae veritatis. Dolorum corrupti
      nulla aperiam modi. Excepturi explicabo, similique eum laudantium dolor
      hic iure earum veritatis.
    </p>
    <p>
      Rem accusantium molestias alias nam minima? Voluptates maiores nisi
      laudantium hic voluptate iure, tempora id, eos nesciunt veniam natus
      doloribus ea praesentium maxime voluptatem dicta odio eum velit
      repellendus quo!
    </p>
    <p>
      Saepe cupiditate, cumque assumenda quas iste animi neque consequuntur,
      omnis incidunt, fuga necessitatibus ullam qui eius mollitia quasi sed
      voluptatem enim a odio quis ab laudantium vitae! Consequuntur, id
      quibusdam?
    </p>
    <Counter client:only="react">
      <div slot="fallback">加载中</div>
    </Counter>
  </body>
</html>

<style>
  .red {
    color: red;
  }
</style>
