---
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
console.log(posts);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      {
        posts.map((post) => (
          <li>
            <p>
              {post.data.title} - by author id:{post.data.author.id}
            </p>
            <img src={post.data.cover.src} alt="" />
          </li>
        ))
      }
    </ul>
  </body>
</html>
