---
import { getCollection } from "astro:content";

import ProjectCard from "@/components/ProjectCard.astro";

const projects = await getCollection("projects");

type Props = {
  limit?: number;
};

const { limit } = Astro.props;
---

<section aria-labelledby="#recent-projects" class="container rows">
  <div class="grid-wrapper">
    {
      limit
        ? projects
            .slice(0, limit)
            .map((project) => <ProjectCard project={project} />)
        : projects.map((project) => <ProjectCard project={project} />)
    }
  </div>
</section>
