---
import { BaseLayout } from "@/layouts";
import {} from "astro/types";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <div>
    <a href="/markdown">返回列表</a>
  </div>
  <slot />
</BaseLayout>
