---
import { render } from "astro:content";
import { getEntry } from "astro:content";

export const prerender = false;

const { slug } = Astro.params;

if (!slug) {
  return Astro.redirect("404");
}
const post = await getEntry("posts", slug);
if (!post || post.data.isDraft) {
  return Astro.redirect("404");
}

const { Content } = await render(post);
---

<main class="container prose">
  <h1>{post.data.title}</h1>
  <Content />
</main>
