---
import { getCollection } from "astro:content";

export const prerender = false;

const posts = await getCollection("posts", (post) => !post.data.isDraft);
---

<main class="container">
  <h1>Server-Side Rendered Posts</h1>
  <ul>
    {
      posts
        .sort((a, b) => a.data.title.localeCompare(b.data.title))
        .map((post) => (
          <li>
            <a href={`/ssr/${post.data.slug}`}>{post.data.title}</a>
          </li>
        ))
    }
  </ul>
</main>
